# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/

# Env files
.env
.env.*
!.env.example

# Node
node_modules/
frontend/dist/

# Database & Uploads
*.db
*.sqlite
uploads/

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
.DS_Store

